.text-label {
	margin-bottom: 10px;
	padding: 5px 10px;
	background: #ddd;
	display: inline-block;
}

.select-hard {
	padding: 7px;
}

.text-light { 
	color: #216E39;
    background-color: #A1CDA3;
    margin: 10px;
    font-size: 18px;
}

.text-middle {
	color: #74460C;
    background-color: #FEFAAD;
    margin: 10px;
    font-size: 18px;
}

.text-hard {
	color: #B20101;
    background-color: #FFAAAA;
    margin: 10px;
    font-size: 18px;
}

button {
	margin: 20px 0;
}

.label {
	font-size: 17px;
	margin: 20px 0;
}

.table-task {
	margin-top: 40px;
}

td {
	width:1%;
	padding: 10px;
    border-bottom: 1px solid #777;
}

thead td {
	background: #777;
	padding: 11px;
	color: white;
	font-weight: 700;
}

.input-group {
	padding-bottom: 15px;
}


.error{
    font-size: 13px;
}

.showHiddenName input{
    display: none;
}

/**
* Прелоадер на весь экран
*/
#prel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #080808;
    z-index: 1000;
    opacity: .7;
}

#preloader_3{
    z-index: 1001;
    position:absolute;
    top: 50%;
    left: 50%;
}
#preloader_3:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background: #000085;
    content:'';
    position:absolute;
    background: #5b3972;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background:#000085;
    content:'';
    position:absolute;
    background: #228544;
    left:22px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
}

@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#228544;border-radius:0px;}
    100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#5b3972;border-radius:0px;}
    100% {transform: translateX(0px)}
}
/**
* Конец Прелоадер на весь экран
*/

.tagit-new{
    width: 700px;
}