.text-label {
	margin-bottom: 10px;
	padding: 5px 10px;
	background: #ddd;
	display: inline-block;
}

.select-hard {
	padding: 7px;
}

.text-light { 
	color: #216E39;
    background-color: #A1CDA3;
    margin: 10px;
    font-size: 18px;
}

.text-middle {
	color: #74460C;
    background-color: #FEFAAD;
    margin: 10px;
    font-size: 18px;
}

.text-hard {
	color: #B20101;
    background-color: #FFAAAA;
    margin: 10px;
    font-size: 18px;
}

button {
	margin: 20px 0;
}

.label {
	font-size: 17px;
	margin: 20px 0;
}

.table-task {
	margin-top: 40px;
}

td {
	width:1%;
	padding: 10px;
    border-bottom: 1px solid #777;
}

thead th {
	background: #777;
	padding: 11px;
	color: white;
	font-weight: 700;
}

.input-group {
	padding-bottom: 15px;
}


.error{
    font-size: 13px;
}

.showHiddenName input{
    display: none;
}


/** Прелоадер на весь экран */
/** FIXME Очень плохое перекрытие, не на 100% высоты.*/
#prel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #080808;
    z-index: 1000;
    opacity: .7;
}

#preloader_3{
    z-index: 1001;
    position:absolute;
    top: 50%;
    left: 50%;
}
#preloader_3:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background: #000085;
    content:'';
    position:absolute;
    background: #5b3972;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

#preloader_3:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background:#000085;
    content:'';
    position:absolute;
    background: #228544;
    left:22px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
}

@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#228544;border-radius:0px;}
    100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#5b3972;border-radius:0px;}
    100% {transform: translateX(0px)}
}
/** Конец Прелоадер на весь экран */


.tagit-new{
    width: 700px;
}



/** Тут все, что связанно с добавлением файлов к новой задачи*/
.dropzone {
    border: 3px dashed #B0A7A7;
    margin-top: 10px;
    font-size: 40px;
    color: #B0A7A7;
    line-height: 100px;
    padding-left: 5%;
    vertical-align: middle;
}

.input_opacity {
    display: none !important;
}

.modal-dialog {
    width: 800px;
    margin: 30px auto;
}

#fileAttach .col-lg-2{
    width: 130px;
    height: 130px;
}

.longText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.iconAttach{
    font-size: 50px !important;
    color: rgb(153, 155, 146);
}

.iconWord{
    font-size: 50px !important;
    color: #337AB7;
}

.iconPdf{
    font-size: 50px !important;
    color: rgb(216, 38, 38);
}

.iconExel{
    font-size: 50px !important;
    color: rgb(33, 164, 30);
}

.iconPPoint{
    font-size: 50px !important;
    color: rgb(230, 129, 30);
}

.deleteAttachFile{
    position: absolute;
    top: 0px;
    right: 15px;
    padding: 2px 7px;
    border-radius: 0px 5px;
}

.thumbnail{
    cursor: pointer;
}



#fileAttach .thumbnail img{
    width: 90px;
    height: 90px;
}
/** Конец всего, что касается загрузки файлов для новой задачи*/

/** Постраничная навигация*/
.pagination { margin:20px 0 }
.pagination ul { display:inline-block; margin-left:0; margin-bottom:0; -webkit-border-radius:1px; -moz-border-radius:1px; border-radius:1px; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:0 1px 2px rgba(0, 0, 0, 0.05) }
.pagination ul>li { display:inline }
.pagination ul>li>a, .pagination ul>li>span { float:left; padding:4px 12px; line-height:20px; text-decoration:none; background-color:transparent; border:1px solid transparent; border-left-width:0 }
.pagination ul>li>a:hover, .pagination ul>li>a:focus, .pagination ul>.active>a, .pagination ul>.active>span { background-color:rgba(51, 51, 51, 0.25) }
.pagination ul>.active>a, .pagination ul>.active>span { color:#999; cursor:default }
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus { color:#999; background-color:transparent; cursor:default }
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span { border-left-width:1px; -webkit-border-top-left-radius:1px; -moz-border-radius-topleft:1px; border-top-left-radius:1px; -webkit-border-bottom-left-radius:1px; -moz-border-radius-bottomleft:1px; border-bottom-left-radius:1px }
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span { -webkit-border-top-right-radius:1px; -moz-border-radius-topright:1px; border-top-right-radius:1px; -webkit-border-bottom-right-radius:1px; -moz-border-radius-bottomright:1px; border-bottom-right-radius:1px }
.pagination ul { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none }
.pagination ul>li>a, .pagination ul>li>span { background-color:transparent; border:1px solid transparent; border-left-width:0 }
/** Конец Постраничная навигация*/

.small-text{
    font-size: 14px;
}

.btn-none{color:#fff; background-color:#777}
.btn-none:hover,.btn-none:focus{color:#fff; background-color:#5e5e5e}
.editTaskA{
    outline: none;
    border-bottom: 1px dashed; text-decoration: none; font-size: 17px;
}
.priehaliKinaNeBudet{
    text-decoration: line-through;
    color: #A19A9A !important;
}

.label-none, .label-{
    color: #FFF;
    background-color: #777;
}

.perfomer-user:hover,.btn-perfomer-user:focus{
    color: #fff !important;
    background-color: #2d86ab !important;
}
.btn-perfomer-user{
    background-color: #2CB0D4;
    color: #fff;
}

.max-height-li{
    max-height: 30px;
}

.ul-top-margin{
    margin-top: -25px;
}

#resetFilters{
    display: none;
}

.clickHideShow{
    cursor: pointer;
}

.nameFilter{
    border-bottom: 1px dashed #333;
}

.nameFilter:hover{
    border-bottom: none;
}
.clickHideShow i{
    color: #8DD9F0;
}
.clickHideShow:hover i{
    color: #337AB7;
}

.clickLabel{
    border: 1px dashed rgb(91, 192, 222);
    border-radius: 5px;
    padding: 5px;

}

.clickLabel:hover{
    background-color: rgb(91, 192, 222);
    color: #fff;
    cursor: pointer;
}

.activeLabel{
    border: 1px solid rgb(91, 192, 222);
    background-color: rgb(91, 192, 222);
    color: #fff;
}


